body {
    

    background-image: url("/static/rod2.png");
    
    width: 100%;
    background-size: cover;
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
}
.p1 {
    background: url("/static/rod1.jpg");
    width: 100%;
    
   
    text-align: center;
    border-style: solid;
    color: aliceblue;
    font-size: 25px;
    /* margin-bottom: 10%; */
}
.p2 {
   
    display: flex;
    
    justify-content: center;
    align-items: center;
    /* font-size: 25px;
    text-align: center;
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
    color: black; */
}
h4 {
    margin-top: 3%;
}



